<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました<br/>
  <% @item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="container">
  <div class="row my-4">
    <div class="col-md-2 text-center">
      <h5 class="bg-ligth" >商品編集</h5>
    </div>
  </div>
  <%= form_with model: @item, url: admins_item_path(@item.id), local: true do |f| %>
  <div class="row offset-md-2 mb-2">
    <div class="col-md-2">
      <%= "商品画像" %>
    </div>
    <div class="col">
      <%= f.attachment_field :image %>
    </div>
  </div>
  <div class="row offset-md-2 mb-2">
    <div class="col-md-2">
      <%= "商品名" %>
    </div>
    <div class="col">
      <%= f.text_field :name,placeholder: "商品名" %>
    </div>
  </div>
  <div class="row offset-md-2 mb-2">
    <div class="col-md-2">
      <%= "商品説明" %>
    </div>
    <div class="col">
      <%= f.text_area :introduction,placeholder: "ここに説明文を記述します", size: "40x8" %>
    </div>
  </div>
  <div class="row offset-md-2 mb-2">
    <div class="col-md-2">
      <%= "ジャンル" %>
    </div>
    <div class="col">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %>
    </div>
  </div>
  <div class="row offset-md-2 mb-2">
    <div class="col-md-2 mb-2">
      <%= "税抜価格" %>
    </div>
    <div class="col">
      <%= f.text_field :price,placeholder: "1000" %><%= "円" %>
    </div>
  </div>
  <div class="row offset-md-2 mb-3">
    <div class="col-md-2">
      <%= "販売ステータス" %>
    </div>
    <div class="col-md-8">
      <%= f.radio_button :is_active,true %>
      <%= f.label :is_active, '販売中', value: true %>
      <%= f.radio_button :is_active,false %>
      <%= f.label :is_active, '販売停止中', value: false %>
    </div>
  </div>
  <div class="text-center">
      <%= f.submit "変更を保存", class: 'btn btn-success' %>
  </div>
    <% end %>
</div>
<br>